.fs-search {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: @white;
  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
  }

  .trip-selector {
    .form-group {
      input,
      label {
        margin-right: 20px;
      }
    }
  }

  .search-field {
    .fs-date-picker {
      input {
        padding: 8px 0;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: @screen-sm-max) {
    .search-form {
      flex-direction: column;
      align-items: flex-start;
      .form-group {
        margin: 20px 0;
        width: 100%;
        select {
          width: 100%;
        }
      }
    }
  }
}
