<div class="fs-booking-tile">
  <!-- Section for displaying multi flight tile -->
  <div v-if="ismultiFlight" class="m-f-container">
    <div class="m-f-header flight-details">
      <span>
        {{multiFlightHeaderDetails.name}}
      </span>
      <span v-if="multiFlightHeaderDetails.flightNo"
        >{{multiFlightHeaderDetails.flightNo}}</span
      >
      <span>{{multiFlightHeaderDetails.origin}}</span>
      <span>{{multiFlightHeaderDetails.destination}}</span>
      <span
        ><b>{{$t('messages.fsMessages.pricelabel')}}</b
        >{{multiFlightHeaderDetails.price}}
        {{$t('messages.fsMessages.currencyIn')}}</span
      >
      <button class="fs-secondary">{{$t('messages.fsMessages.book')}}</button>
    </div>
    <p class="link" @click="toggleDetailsVisibility()">
      {{$t('messages.fsMessages.detailsTxt')}}
    </p>
    <template v-if="showDetails">
      <div
        class="m-f-details flight-details"
        v-for="(flight, index) in flightData"
        :key="flight.flightNo"
      >
        <i class="far fa-paper-plane"></i>
        <span>{{flight.name}}</span>
        <span v-if="flight.flightNo">{{flight.flightNo}}</span>
        <span>{{flight.origin}}</span>
        <span>{{flight.destination}}</span>
        <span>{{flight.duration}}</span>
        <span
          ><b>{{$t('messages.fsMessages.pricelabel')}}</b> {{flight.price}}
          {{$t('messages.fsMessages.currencyIn')}}</span
        >
      </div>
    </template>
  </div>
  <!-- Section for displaying direct flights -->
  <div
    v-for="(flight, index) in flightData"
    :key="flight.flightNo"
    class="flight-details"
    v-else
  >
    <i class="far fa-paper-plane"></i>
    <span>{{flight.name}}</span>
    <span v-if="flight.flightNo">{{flight.flightNo}}</span>
    <span>{{flight.origin}}</span>
    <span>{{flight.destination}}</span>
    <span>{{flight.duration}}</span>
    <span
      ><b>{{$t('messages.fsMessages.pricelabel')}}</b> {{flight.price}}
      {{$t('messages.fsMessages.currencyIn')}}</span
    >
    <button class="fs-secondary" v-if="index == 0">
      {{$t('messages.fsMessages.book')}}
    </button>
  </div>
</div>
