.fs-booking-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 0 20px;
  .m-f-container {
    display: flex;
    flex-direction: column;
    .link {
      padding: 6px 0;
    }
    .m-f-details {
      background: aliceblue;
      padding: 16px;
    }
  }
  .flight-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      justify-self: center;
      align-self: center;
      flex: 1;
    }
  }
}
