.fs-home {
  display: flex;
  flex-direction: column;
  .fs-search-container {
    margin-bottom: 20px;
    padding: 0 60px;
    background: @fs-tertiary;
  }
  .fs-result-container {
    display: flex;
    padding: 0 60px;
  }
  @media screen and (max-width: @screen-sm-max) {
    .fs-result-container {
      flex-direction: column;
    }
  }
}
